
.about-me__title{
    font-size: 5rem;
    text-align: left;
    flex-basis: 100%;
    padding: $s-size;
    border-bottom: 0.35rem solid $off_darkBlue; 
}

.container__about-me {
    display: flex;
    flex-direction : row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding :0;
}



.container__about-me__image {
    background-image: url('https://picsum.photos/seed/picsum/600/700');
    background-repeat:no-repeat;
    background-size: cover;
    flex: 1;

}

.container__about-me__body {
    //padding: $xl-size $xl-size;
    //align-items: center;
    height: 100%;
    flex: 1;
    align-items: stretch;
}

.container__about-me__body > h1 {
    font-size: 5rem;
    text-align: left;
    padding: $s-size;
    margin: 0;
}
.container__about-me__body > h2 {
    font-size: 2rem;
    text-align: left;
    font-style: italic;
    color: $off_blue;
    padding: 0 $s-size;
    margin: 0;
}

.container__about-me__body > p {
    justify-content: left;
    padding: $xl-size $s-size;
    margin: 0;
}
