.container {
    display: flex;
    flex-direction : row;
    justify-content: center;
    height: 100%;
    padding :0;
    margin: 0;
}

.container__header {
    background:  $off_white;
    flex-basis: 10%;
    //border-right: 0.2rem solid $off_darkBlue;
    padding: 0;
}

.container__body {
    background: $off_white;
    flex-basis: 90%;
    padding: 0;
    margin-left: 1rem;
    
}

