
header >ul {
    padding: 0;
    margin: 0;
}

header > h1 {
    font-size: $xl-size;
    align-items: center;
    border-bottom: 0.1rem solid $off_darkGrey;
    text-decoration: none;
    color: $off_darkBlue;
    margin: 0;
    padding: $xl-size $s-size;
}
.nav-link {
    display: block;
    align-items: center;
    font-size: $m-size;
    border-bottom: 0.1rem solid $off_darkGrey;
    text-decoration: none;
    color: $off_darkBlue;
    margin: 0;
    padding: $m-size $s-size;
}

.nav-link:hover {
    border-right: 0.3rem solid $off_blue;
    background: darken($color: $off_white, $amount: 5%);
    color: $off_darkBlue;
}