
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    height: 100%;
    background: darken($off_white,5%);
  
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active{
    font-weight: bold;
    border-right: 0.3rem solid $off_blue;
    background: darken($color: $off_white, $amount: 5%);
    color: $off_darkBlue;
}
ul {
    list-style-type:none;
}

#app{
    height: 100%;
}
