//Colors
$off_darkGrey:#0e171c;
$off_darkBlue:#01194f;
$off_blue : #0758b7;
$off_lightBlue : #039cfd;
$off_white:#ffffff;

//font
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$s-size : 1.2rem;


$desktop-breakpoint : 45rem;
